Source: ros-rolling-rplidar-ros
Section: misc
Priority: optional
Maintainer: Hunter L. Allen <hunterlallen@protonmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake-auto, ros-rolling-ament-cmake-ros, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-sensor-msgs, ros-rolling-std-srvs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rplidar-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-sensor-msgs, ros-rolling-std-srvs, ros-rolling-ros-workspace
Description: The rplidar ros package, support rplidar A2/A1 and A3/S1
